/**
 * Mixins
*/

@mixin mask-image($s) {
    -webkit-mask-image: $s;
    mask-image: $s;
}

@mixin mask-repeat($s) {
    -webkit-mask-repeat: $s;
    mask-repeat: $s;
}

@mixin mask-size($s) {
    -webkit-mask-size: $s;
    mask-size: $s;
}

/**
 * Mixins
*/

@mixin before_after {
    &::before,
    &::after {
        @content;
    }
}

@mixin media($x, $property: '') {
    @if $property == 'width' or $property == '' {
        @media screen and (min-width: $x + 'px'){
            @content;
        }
    }
    @if $property == 'height' {
        @media screen and (min-height: $x + 'px'){
            @content;
        }
    }
}

@mixin media_max($x) {
    @media screen and (max-width: $x + 'px'){
        @content;
    }
}

@mixin font_family($font-name, $font-weight: '') {
    @if $font-weight == 'light' {
        font-weight: 300;
    }
    @if $font-weight == 'regular' or $font-weight == '' {
        font-weight: 400;
    }
    @if $font-weight == 'medium' {
        font-weight: 500;
    }
    @if $font-weight == 'semibold' {
        font-weight: 600;
    }
    @if $font-weight == 'bold' {
        font-weight: 700;
    }
    @if $font-weight == 'extrabold' {
        font-weight: 900;
    }
    font-family: $font-name;
}

/** Style section text headers the same **/
@mixin text_headers {
    h1, h2, h3, h4, h5, h6 {
        @content;
    }
}

/** Style headers **/
@mixin fontSizes($sizes) {
    @each $e, $size in $sizes {
        #{$e} {
            font-size: $size + px;
        }
        .et_pb_column {
            #{$e} {
                font-size: $size + px;
            }
        }
    }
}

@mixin fonts_global($fonts-map) {
    @each $tag, $map in $fonts-map {
        $ff:    map-get($map, ff);
        $fw:    map-get($map, fw);
        $base:  map-get($map, sb);
        $lh:    map-get($map, lh);
        #{$tag} {
            @include font_family($ff, $fw);
            line-height: $lh/$base;
        }
        .et_pb_column {
            #{$tag} {
                @include font_family($ff, $fw);
                line-height: $lh/$base;
            }
        }
    }
}

@mixin background_gradient($location: '') {

    @if $location == 'header' or $location == '' {
        background-color: $color-gradient-1;
        @include filter-gradient($color-gradient-1, $color-gradient-4, vertical);
        @include background-image(linear-gradient(top, $color-gradient-1 0%, $color-gradient-2 32%, $color-gradient-3 65%, $color-gradient-4 100%));
    }

}

@mixin center_element {
    @include transform(translateX(-50%) translateY(-50%));
    left: 50%;
    position: absolute;
    top: 50%;
}

@mixin center_child {
    position: relative;
    >* {
        @include center_element;
    }
}

@function pxtoem($basepx, $px) {
    @return ($px/$basepx)+0em;
}

@function lh_calc($font-size, $vertical-rhythm) {
    @return ($vertical-rhythm/$font-size);
}

@mixin ms_version_support($version) {
    @if $version == 'edge13-edge14' {
        @supports (-ms-ime-align: auto) {
            @content;
        }
    }
    @if $version == 'edge13' {
        @supports (-ms-accelerator: true) {
            @content;
        }
    }
    @if $version == 'ie10-ie11' {
        @media all and (-ms-high-contrast: none), (-ms-high-contrast: active) {
            @content;
        }
    }
}

@mixin ms_support {
    @include ms_version_support ('edge13-edge14') {
        @content;
    }
    @include ms_version_support ('edge13') {
        @content;
    }
    @include ms_version_support ('ie10-ie11') {
        @content;
    }
}
