/******************************************************************
Stylesheet: Variables

Here is where we declare all our variables like colors, fonts,
base values, and defaults. We want to make sure this file ONLY
contains variables that way our files don't get all messy.
No one likes a mess.
******************************************************************/

/*********************
COLORS
Need help w/ choosing your colors? Try this site out:
http://0to255.com/
*********************/

$alert-yellow:      #ebe16f;
$alert-red:         #b81c23;
$alert-green:       #8fae1b;
$alert-blue:        #1e85be;

$black:             #323944;
$white:             #ffffff;

$light-gray:        #f8f9fa;
$gray:              #eaedf2;
$meta-gray:         #9fa6b4;

$tan:               #eceee5;
$green:             #7dd667;
$blue:              #2980b9;

$border-color:      #cccccc;
$disabled-gray:     #cfcfcf;


/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

$color-black:       #000;
$color-white:       #fff;

$color-green-d:     $accent-color-alt;      // #204646
$color-green-m:     $accent-color;          // #4facac
$color-green-l:     #5bc6c5;

$color-gray-d:      $text-color;            // #777
$color-gray-m:      $accent-color-alt-2;    // #9b9484

$color-red:         $accent-color-alt-3;    // #df3f3f

$alpha-gr:          .54;
$color-gradient-1:  rgba($color-black, $alpha-gr);
$color-gradient-2:  rgba(#605e59, $alpha-gr);
$color-gradient-3:  rgba(#949292, $alpha-gr);
$color-gradient-4:  rgba($color-white, $alpha-gr);

$color-header:      $color-green-d;         // #204646
$color-text:        $text-color;            // 777

/*
Here's a great tutorial on how to
use color variables properly:
http://sachagreif.com/sass-color-variables/
*/

/*
    Fonts
*/
$font-fallback-josafin: Helvetica, Arial, Lucida, sans-serif;
$font-fallback-lora:    Georgia, "Times New Roman", serif;

$font-lora:             'Lora', $font-fallback-lora;
$font-josafin:          'Josefin Sans', $font-fallback-josafin;

$fonts-map: (
    h1: (
        ff: $font-lora,
        fw: 'regular',
        lh: 66,
        sb: 50,
    ),
    h2: (
        ff: $font-lora,
        fw: 'regular',
        lh: 66,
        sb: 50,
    ),
    h3: (
        ff: $font-lora,
        fw: 'regular',
        lh: 38,
        sb: 30,
    ),
    h4: (
        ff: $font-lora,
        fw: 'regular',
        lh: 33,
        sb: 26,
    ),
    h5: (
        ff: $font-josafin,
        fw: 'light',
        lh: 29,
        sb: 24,
    ),
    h6: (
        ff: $font-josafin,
        fw: 'light',
        lh: 24,
        sb: 20,
    ),
    p: (
        ff: $font-josafin,
        fw: 'light',
        lh: 24,
        sb: 18,
    )
);

$font-sizes-mobile:         (h1, 36) (h2, 36) (h3, 24) (h4, 20) (h5, 18) (h6, 16) (p, 14);
$font-sizes-tablet:         (h1, 44) (h2, 44) (h3, 26) (h4, 24) (h5, 21) (h6, 20) (p, 16);
$font-sizes-desktop:        (h1, 50) (h2, 50) (h3, 30) (h4, 26) (h5, 24) (h6, 20) (p, 18);

/*
    Images
*/
$img-path:                  '../img/';

/*
    Helpers
*/
$nb:                        !important;


/*
    Properties
*/

//widths
$width-content-max:         1920px;
$width-content-site:        92.973%;
$width-content-margin:      3.514%;
