/******************************************************************
Stylesheet: Tablet & Small Desktop Stylesheet

Here's where you can start getting into the good stuff.
This size will work on iPads, other tablets, and desktops.
So you can start working with more styles, background images,
and other resources. You'll also notice the grid starts to
come into play. Have fun!

******************************************************************/

/********************************************************/
/********************  Helpers Start ********************/
/********************************************************/

/********************************************************/
/*********************  Helpers End *********************/
/********************************************************/

/********************************************************/
/*******************  Typography Start ******************/
/********************************************************/

@include fontSizes($font-sizes-desktop);

/********************************************************/
/********************  Typography End *******************/
/********************************************************/

/********************************************************/
/*********************  Header Start ********************/
/********************************************************/

#main-header {

    .logo_container {

        display: none;

    }

}

#et-top-navigation {

    height: $height-header;

}
/********************************************************/
/**********************  Header End *********************/
/********************************************************/

/********************************************************/
/********************  Templates Start ******************/
/********************************************************/

/***************** Sections & Rows Start ****************/
/****************** Sections & Rows End *****************/

/******************* Blog Module Start ******************/
/******************** Blog Module End *******************/

/******************* Blurb Module Start *****************/
/******************** Blurb Module End ******************/

/*********** Filterable Portfolio Module Start **********/
/************ Filterable Portfolio Module End ***********/

/************* Fullwidth Header Module Start ************/
/************** Fullwidth Header Module End *************/

/******************* Image Module Start *****************/
/******************** Image Module End ******************/

/**************** Portfolio Module Start ****************/
/***************** Portfolio Module End *****************/

/**************** Post Title Module Start ***************/
/***************** Post Title Module End ****************/

/*************** Testimonial Module Start ***************/
/**************** Testimonial Module End ****************/

/******************* Text Module Start ******************/
/******************** Text Module End *******************/

/********************************************************/
/*********************  Templates End *******************/
/********************************************************/

/********************************************************/
/***********************  Main Start ********************/
/********************************************************/

/***************** Sections & Rows Start ****************/
.section_footer {

    padding: 60px 0;

}
/****************** Sections & Rows End *****************/

/******************* Blog Module Start ******************/
/******************** Blog Module End *******************/

/******************* Blurb Module Start *****************/
/******************** Blurb Module End ******************/

/*********** Filterable Portfolio Module Start **********/
/************ Filterable Portfolio Module End ***********/

/************* Fullwidth Header Module Start ************/
/************** Fullwidth Header Module End *************/

/******************* Image Module Start *****************/
/******************** Image Module End ******************/

/**************** Portfolio Module Start ****************/
/***************** Portfolio Module End *****************/

/**************** Post Title Module Start ***************/
/***************** Post Title Module End ****************/

/*************** Testimonial Module Start ***************/
/**************** Testimonial Module End ****************/

/******************* Text Module Start ******************/
/******************** Text Module End *******************/

/********************************************************/
/************************  Main End *********************/
/********************************************************/

/********************************************************/
/*********************  Widgets Start *******************/
/********************************************************/



/********************************************************/
/**********************  Widgets End ********************/
/********************************************************/

/********************************************************/
/*********************  Footer Start ********************/
/********************************************************/

/********************************************************/
/**********************  Footer End *********************/
/********************************************************/
