/******************************************************************
Stylesheet: Base Mobile Stylesheet

Be light and don't over style since everything here will be
loaded by mobile devices. You want to keep it as minimal as
possible. This is called at the top of the main stylsheet
and will be used across all viewports.

******************************************************************/

/**
 * Helpers
 */

.nopad {
    margin: 0 !important;
    padding: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin: 0 !important;
        padding: 0 !important;
    }
}

.nopad-top {
    margin-top: 0 !important;
    padding-top: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin-top: 0 !important;
        padding-top: 0 !important;
    }
}

.nopad-bottom {
    margin-bottom: 0 !important;
    padding-bottom: 0 !important;

    .et_pb_row,
    .et_pb_column {
        margin-bottom: 0 !important;
        padding-bottom: 0 !important;
    }
}

.et_pb_code {

    p {
        padding: 0;
    }
    br {
        display: none;
    }
}

/**
 * Woocommerce
 */

nav.woocommerce-MyAccount-navigation {

    ul {
        list-style: none;
        padding: 0 !important;
        margin-bottom: 2em;

        li {
            list-style: none;

            a {
                font-size: 1.1em;
                border: 1px solid $border-color;
                border-bottom: none;
                display: block;
                width: 100%;
                padding: 0.5em 0.5em 0.5em 0.8em;
            }

            &:last-child {
                border-bottom: 1px solid $border-color;
            }

            &.is-active {

                a {
                    border-left: 2px solid $black;
                    font-weight: bold;
                }
            }
        }
    }
}

.woocommerce,
.woocommerce-page {

    .woocommerce-message,
    .woocommerce-error,
    .woocommerce-info {
        background-color: $light-gray !important;
        color: $text-color !important;
        border-top: 3px solid $accent-color !important;
    }

    .woocommerce-message {
        border-top-color: $alert-green !important;

        &::before {
            color: $alert-green !important;
        }
    }

    .woocommerce-info {
        border-top-color: $alert-blue !important;

        &::before {
            color: $alert-blue !important;
        }
    }

    .woocommerce-error {
        border-top-color: $alert-red !important;

        &::before {
            color: $alert-red !important;
        }
    }
}

/**
 * Pagination
 */

#left-area {

    nav.pagination {

        ul {
            padding: 0;
        }
    }
}

nav.pagination {
    clear: both;
    display: block;
    margin: 1.5em 0;
    text-align: center;

    ul {
        display: inline-block;
        background-color: $white;
        white-space: nowrap;
        padding: 0;
        clear: both;
        border-left: 1px solid $gray;
    }

    li {
        padding: 0;
        margin: 0;
        float: left;
        display: inline;
        overflow: hidden;
        border: 1px solid $gray;
        border-left: none;
    }

    a, span {
        margin: 0;
        text-decoration: none;
        padding: 0;
        line-height: 1em;
        font-size: 1em;
        font-weight: normal;
        padding: 0.75em;
        min-width: 1em;
        display: block;
        color: $accent-color;

        &:hover, &:focus {
            background-color: $accent-color;
            color: $white;
        }
    }

    .current{
        cursor: default;
        color: inherit;

        &:hover, &:focus {
            background-color: inherit;
            color: inherit;
        }
    }
}


/********************************************************/
/********************  Helpers Start ********************/
/********************************************************/

/********************************************************/
/*********************  Helpers End *********************/
/********************************************************/

/********************************************************/
/*******************  Typography Start ******************/
/********************************************************/

@include fonts_global($fonts-map);
@include fontSizes($font-sizes-mobile);

h1,
h2,
h3,
h4 {

    color: $color-header;
    text-transform: uppercase;

}

h5,
h6,
p {

    color: $color-text;

}

/********************************************************/
/********************  Typography End *******************/
/********************************************************/

/********************************************************/
/*********************  Header Start ********************/
/********************************************************/

#top-menu {

    >li {

        // font-size: 18px;

        >a {

            padding-bottom: 0 $nb;

        }

    }

}


/********************************************************/
/**********************  Header End *********************/
/********************************************************/

/********************************************************/
/********************  Templates Start ******************/
/********************************************************/

/***************** Sections & Rows Start ****************/
.et_pb_section {

    .et_pb_row {

        max-width: $width-content-max $nb;
        width: $width-content-site;

    }

}
/****************** Sections & Rows End *****************/

/****************** Global Module Start *****************/
.et_pb_bg_layout_dark {

    @include text_headers {

        color: $color-white;

    }

    p {

        color: $color-white;

    }

}
/******************* Global Module End ******************/

/******************* Blog Module Start ******************/
/******************** Blog Module End *******************/

/******************* Blurb Module Start *****************/
/******************** Blurb Module End ******************/

/*********** Filterable Portfolio Module Start **********/
/************ Filterable Portfolio Module End ***********/

/************* Fullwidth Header Module Start ************/
/************** Fullwidth Header Module End *************/

/******************* Image Module Start *****************/
/******************** Image Module End ******************/

/**************** Portfolio Module Start ****************/
/***************** Portfolio Module End *****************/

/**************** Post Title Module Start ***************/
/***************** Post Title Module End ****************/

/*************** Testimonial Module Start ***************/
/**************** Testimonial Module End ****************/

/******************* Text Module Start ******************/
.et_pb_text {

    .et_pb_text_inner {

        @extend p;

    }

    &.et_pb_bg_layout_dark {

        .et_pb_text_inner {

            color: $color-white;

        }

    }

}
/******************** Text Module End *******************/

/********************************************************/
/*********************  Templates End *******************/
/********************************************************/

/********************************************************/
/***********************  Main Start ********************/
/********************************************************/

/***************** Sections & Rows Start ****************/
.section_footer {

    padding: 30px 0;

}

.row_footer {

    padding: 0;

    &:not(:last-child) {

        padding-bottom: 20px;

    }

}
/****************** Sections & Rows End *****************/

/****************** Global Module Start *****************/
.module_footer {

    &:not(:last-child) {

        margin-bottom: 20px;

    }

}
/******************* Global Module End ******************/

/******************* Blog Module Start ******************/
/******************** Blog Module End *******************/

/******************* Blurb Module Start *****************/
.blurb {

    &_footer {

        &_contact {

            .et_pb_main_blurb_image {

                max-width: 30px;

            }

        }

    }

}
/******************** Blurb Module End ******************/

/*********** Filterable Portfolio Module Start **********/
/************ Filterable Portfolio Module End ***********/

/************* Fullwidth Header Module Start ************/
/************** Fullwidth Header Module End *************/

/******************* Image Module Start *****************/
/******************** Image Module End ******************/

/**************** Portfolio Module Start ****************/
/***************** Portfolio Module End *****************/

/**************** Post Title Module Start ***************/
/***************** Post Title Module End ****************/

/*************** Testimonial Module Start ***************/
/**************** Testimonial Module End ****************/

/******************* Text Module Start ******************/
.text {

    &_footer {

        &_address {

            br {

                display: none;

            }

        }

    }

}
/******************** Text Module End *******************/

/********************************************************/
/************************  Main End *********************/
/********************************************************/

/********************************************************/
/*********************  Widgets Start *******************/
/********************************************************/

#footer-widgets {

    padding: 0;

    .footer-widget {

        &:nth-child(n) {

            margin-right: 0 $nb;
            width: 100% $nb;

        }

    }

}

.fwidget {

    &.ws_shortcode_widget {

        width: 100%;

    }

}

/********************************************************/
/**********************  Widgets End ********************/
/********************************************************/

/********************************************************/
/*********************  Footer Start ********************/
/********************************************************/

#main-footer {

    >.container {

        width: 100% $nb;

    }

}

/********************************************************/
/**********************  Footer End *********************/
/********************************************************/
